@model DienThoai
<div class="card" style="width: 40%;">
    <form id="@Model.DienThoaiID" asp-page="/MyCart" method="post">
        <input type="hidden" asp-for="DienThoaiID" />
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <div class="card-text p-1">

            <button type="submit"
                    class="btn btn-warning btn-sm pull-right">
                Add To Cart
            </button>
        </div>
    </form>
</div>