@page
<div class="text-center">
    <h3>Cám Ơn vì đã đặt hàng #@OrderId</h3>
    <p>Chúng tôi sẽ gửi hàng cho bạn trong thời gian sớm nhất.</p>
    <a class="btn btn-info" asp-controller="Home">Return to Store</a>
</div>
@functions {
    [BindProperty(SupportsGet = true)]
    public string OrderId { get; set; }
}